<footer class="primary-background-colour grid-x padding-1 align-justify">

    <!-- Left -->
    <div class="small-12 medium-4 cell align-self-bottom show-for-large">

        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="small-12 medium-12 cell margin-bottom-2" data-smooth-scroll>
            <a href="#top"><svg class="icon icon-arrow-up8"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-up8"></use></svg></a>
          </div>
        </div>

        <div class="grid-x grid-padding-x grid-padding-y align-bottom">
          <div class="small-12 medium-12 cell">
            <a href="/contact">© {{site.company}}</a>
          </div>
        </div>

    </div>
    <!-- End Left -->

    <!-- Right -->
    <div class="small-12 medium-shrink cell align-self-bottom">

        <div class="grid-x grid-padding-x grid-padding-y">


        <div class="small-12 medium-shrink cell">
          <ul class="vertical menu text-center medium-text-left">
            <li class="menu-text h4 secondary-font">Dirección</a></li>

            <li class="menu-text">{{site.event-address}}</li>
            <li class="menu-text">{{site.event-span}}</li>
            <li class="menu-text">Zapopan, Jalisco</li>
            <li><a href="tel:3323003976">33-2300-3976</a></li>
          </ul>
        </div>

         <div class="small-12 medium-shrink cell">
          <ul class="vertical menu text-center medium-text-left">
            <li class="menu-text h4 secondary-font">Permisos</a></li>
            <li class="menu-text">Responsable Sanitario</li>
            <li class="menu-text">Dra. Noemi Hernández Altamirano</li>
            <li class="menu-text">Médico Cirujano y Partero / 4083008 / UdeG
</li>
            <li><a href="tel:+13237856313">Comunicación Audiología y Foniatría / 5472078 / UNAM</a></li>
            <li class="menu-text">Certificado CONACEM / 528</li>
            <li class="menu-text">COFEPRIS: 2314102002A00354.</li>
          </ul>
        </div>

        </div>

    </div>
    <!-- End Right -->

</footer>
