---
layout: default
---
<!-- Hero -->
{% assign background-image = page.hero-image %}
<section class="hero" {% include images/feature.html %}>
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-10  medium-8 large-6 cell text-center">
      <h1 class="primary-font white" data-aos="none">{{page.hero-text}}</h1>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- Page Excerpt -->
{% if page.excerpt %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-left">
    <div class="small-12 medium-10 large-9 cell">
      {% if page.about-description %}
      <h3 class="sans-regular medium-gray">{{page.about-description}}</h3>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Excerpt -->


<!-- Page Image -->
{% if page.image %}
<section class="grid-container hide-for-small-only">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">
      {% assign image = page.image %}
      <div data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}" class="light-gray-background page__image">

      {% if page.video %}
      <div class="grid-y height-100 align-center video">
        <div class="shrink cell text-center" data-src="{{page.video}}">
          <a href="{{page.video}}" class="white"><svg class="icon icon-play-circle"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play-circle"></use></svg><br><h2>Ver vídeo</h2></a>

        </div>
      </div>
      {% endif %}

      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Image -->

<!-- Page Image mobile -->
{% if page.image %}
<section class="grid-container show-for-small-only">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">
      {% assign image = page.image%}
      <div data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}" class="page__image">

      {% if page.video %}
      <div class="grid-y height-100 align-center">
        <div class="shrink cell text-center">
          <a href="{{page.video}}" class="white" target="_blank" rel="noopener noreferrer"><svg class="icon icon-play-circle"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play-circle"></use></svg><br><h2>Ver vídeo</h2></a>
        </div>
      </div>
      {% endif %}

      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Image mobile -->

<!-- Page Description -->
{% if page.description %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell">
      <h2>{{page.description}}</h2>
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Description -->

<!-- Journal -->
<div class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y medium-up-2 large-up-2">
  {% for post in site.posts limit:site.per_page %}
    <div class="small-11 cell journal__post" data-aos="fade-in">

    <br>
    <div class="journal__post__date"><small>{{ post.date | date: site.date_format }}</small></div>

    <h4 class="strong">{{ post.title }}</h4>
      <img src="{{ post.image }}" alt=""class="margin-bottom-1 margin-top-1">
      {{ post.content | strip_html | truncatewords:50 }}

          <a href="{{ site.baseurl }}{{ post.url }}">Leer más</a>



     <div class="shrink cell text-center" data-src="{{page.video}}">
     </div>
    </div>
  {% endfor %}
</div>
</div>
<!-- End Journal -->


<!-- Page Content -->
{% if page.content %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell page__content padding-bottom-2">
      {{ page.content | markdownify }}
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Content -->


<!-- Page Quote -->
{% if page.quote %}
<section class="grid-container yellow-background">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
      <h3 class="margin-bottom-0">"{{page.quote}}"</h3>
      <h4 class="white">{{page.cite}}</h3>
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Quote -->

<!-- Pagination -->
{% if page.collection %}
  {% assign links = site[page.collection] | sort: 'position'  %}
{% endif %}

{% for link in links %}
	{% if link.title == page.title %}

		{% unless forloop.first %}
			{% assign prev = tmpprev %}
		{% endunless %}

		{% unless forloop.last %}
			{% assign next = links[forloop.index] %}
		{% endunless %}

    {% if forloop.last %}
      {% assign next = links[0] %}
    {% endif %}

	{% endif %}
	{% assign tmpprev = link %}
{% endfor %}

{% if next %}
<div class="grid-x margin-top-2 light-gray-background" style="min-height: 350px">
  {% assign image = next.image %}
  <div class="small-12 medium-6 cell pagination-image show-for-small-only" data-interchange="{% include images/interchange-img-small-12-medium-6-cell.html %}" style="min-height: 350px">
  </div>

  <div class="small-12 medium-6 cell padding-space-1">
    <h5 class="sans-regular medium-gray">Siguiente</h5>
    <a href="{{next.url}}" class="h5 sans-regular">{{next.title}}</a>
  </div>
</div>
{% endif %}
<!-- End Pagination -->
