---
layout: default
---
<!-- Hero -->
{% assign background-image = page.hero-image %}
<section class="hero" {% include images/feature.html %}>
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-10  medium-8 large-6 cell text-center">
      <h1 class="primary-font white" data-aos="none">{{page.hero-text}}</h1>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- Home Selected Projects -->
<div class="grid-container">

  <div class="grid-x">
    <div class="small-12 medium-8 cell">
      <h2>{{page.selected-text}}</h2>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2">

    {% for post in site.posts %}
      {% include blocks/posts.html %}
    {% endfor %}
  </div>

</div>
<!-- End Home Selected Projects -->
