---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include site/head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">

<!-- Off Canvas Wrapper -->
<div class="off-canvas-wrapper">

<!-- Off Canvas Navigation -->
<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlap" data-close-on-click="false" data-content-scroll="false">
{% include site/off-canvas.html %}
</div>
<!-- End Off Canvas Navigation -->

<div class="off-canvas-content" data-off-canvas-content>
<nav>
<!-- Navigation -->
{% include site/navigation.html %}
<!-- End Navigation -->
</nav>

<main>
<!-- Content -->
{{ content }}
<!-- End Content -->
</main>



<!-- Call to Action -->
{% if page.has-call-to-action %}
<section class="">
  <div class="grid-container black-background">
    <div class="grid-x grid-padding-x grid-padding-y align-center-middle white black-background">

      <div class="small-12 medium-8 cell">
        <h1>{{page.call-to-action-title}}</h1>
        <h4>{{page.call-to-action-text}}</h4>
        <h4 class="sans-regular medium-gray"><a href="mailto:{{site.email}}">{{site.email}}</a></h4>
      </div>
      <div class="small-10 medium-4 cell">
        <lottie-player
          src="/assets/animation/Animation - 1700362697929.json"
          background="transparent"
          speed="0.7"
          autoplay loop
        ></lottie-player>
      </div>

    </div>
  </div>
</section>
{% endif %}
<!-- End Call to Action -->


<!-- Call to Action -->
{% if page.comments %}
<section class="">
  <div class="grid-container black-background">
    <div class="grid-x grid-padding-x grid-padding-y align-center-middle white black-background">

      <div class="small-12 medium-8 cell">
        <div id="disqus_thread"></div>
      </div>

    </div>
  </div>
</section>
{% endif %}
<!-- End Call to Action -->



<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://corti.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>




<!-- Footer -->
{% include site/footer.html %}
<!-- End Footer -->
</div>


<!-- End Off Canvas Wrapper -->
</body>

</html>
