---
layout: default
---

<!-- Page Excerpt -->
{% if page.excerpt %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-left">
    <div class="small-12 medium-10 large-9 medium-offset-1 large-offset-1 cell">
      <h2 class="secondary-font">{{page.title}}</h2>
      {% if page.about-description %}
      <h3 class="sans-regular medium-gray">{{page.about-description}}</h3>
      {% endif %}
      {% if page.skills-description %}
      <h5 class="sans-regular medium-gray">{{page.skills-description}}</h5>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Excerpt -->


<!-- Page Description -->
{% if page.description %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell">
      <h2>{{page.description}}</h2>
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Description -->


<!-- Page Carousel -->
{% if page.has-carousel %}
<div class="grid-x grid-padding-y align-center">
  <div class="small-12 cell">

    <div class="carousel__container">
      <div class="carousel">
        {% for carouselimage in page.images %}
        {% assign image = carouselimage.image %}
          <div class="carousel-image margin-horizontal-1" data-interchange="{% include images/interchange-img-small-12-medium-6-cell.html %}"></div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% endif %}
<!-- End Page Carousel -->

<!-- Page Content -->
{% if page.content %}
<section class="grid-container">
  <div class="grid-x align-center">
    <div class="small-12 medium-10 cell page__content padding-bottom-2">
      {{ page.content | markdownify }}
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Content -->

<!-- Page Quote -->
{% if page.quote %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
      <h3 class="margin-bottom-0">"{{page.quote}}"</h3>
      <h4 class="medium-gray">{{page.cite}}</h3>
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Quote -->

<!-- Pagination -->
{% if page.collection %}
  {% assign links = site[page.collection] | sort: 'position'  %}
{% endif %}

{% for link in links %}
	{% if link.title == page.title %}

		{% unless forloop.first %}
			{% assign prev = tmpprev %}
		{% endunless %}

		{% unless forloop.last %}
			{% assign next = links[forloop.index] %}
		{% endunless %}

    {% if forloop.last %}
      {% assign next = links[0] %}
    {% endif %}

	{% endif %}
	{% assign tmpprev = link %}
{% endfor %}

{% if next %}
<div class="grid-x light-gray-background" style="min-height: 350px">
  {% assign image = next.image %}
  <div class="small-6 medium-6 cell pagination-image show-for-small-only" data-interchange="{% include images/interchange-img-small-12-medium-6-cell.html %}" style="min-height: 350px">
  </div>

  <div class="small-6 medium-6 cell padding-space-1">
    <h5 class="sans-regular medium-gray">Siguiente</h5>
    <a href="{{next.url}}" class="h5 sans-regular">{{next.title}}</a>
  </div>
</div>
{% endif %}
<!-- End Pagination -->
