---
layout: default
---

<!-- Page Image -->
{% if page.image %}
<section class="grid-container hide-for-small-only">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">
      {% assign image = page.image %}
      <div data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}" class="light-gray-background page__image">

      {% if page.video %}
      {% assign svg.icon = page.video%}
      <div class="grid-y height-100 align-center video">
        <div class="shrink cell text-center" data-src="{{page.video}}">
          <a href="{{page.video}}" class="white"><svg class="icon icon-play-circle"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play-circle"></use></svg><br><h2>Ver vídeo</h2></a>

        </div>
      </div>
      {% endif %}

      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Image -->

<!-- Video mobile -->
{% if page.image %}
<section class="grid-container show-for-small-only">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">
      {% assign image = page.image%}
      <div data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}" class="page__image">

      {% if page.video %}
      <div class="grid-y height-100 align-center">
        <div class="shrink cell text-center">
          <a href="{{page.video}}" class="white" target="_blank" rel="noopener noreferrer"><svg class="icon icon-play-circle"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play-circle"></use></svg><br><h2>Ver vídeo</h2></a>
        </div>
      </div>
      {% endif %}

      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End Video mobile -->


<!-- Content -->
<div class="grid-container">
  <div class="grid-x align-center">
    <div class="small-10 medium-10 large-8 cell">
      <h1 class="margin-top-3">{{ page.title }}</h1>
      <p>{{ page.content | markdownify }}</p>
    </div>
  </div>
</div>
<!-- End Content -->
